@charset "utf-8";

/*隐藏菜单滚动条*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #222;  
}
/*默认悬浮在字体上不改变鼠标样式*/
span,li:hover{
    cursor: default;
}
/*开始菜单*/
.menus{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    background-image: url(../img/windows.png);
    background-position: 0 0;
    background-size: cover;
}
.menus:hover{
    background-position: 35px 0;
}
/*用户头像*/
.userIcon{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    top: -35px;
    left:-3px;
    border: 2px solid #fff;
    background-color: #eae2d9;
    z-index: 9;
}
/*菜单项目*/
.menusItem{
    width: 280px;
    height: 380px;
    position: fixed;
    bottom:43px;
    margin-left: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-image: url(../img/bg-1.jpg);
    background-position: center;
    background-size: cover;
    border-right: transparent;
    display: none;
    z-index: 8;
}
.systemTi{
    display:inline-block;
    float: left;
    margin-left: 100px;
/*    border: 1px solid red;*/
}
/*菜单内容*/
.meunsContent{
    width: 100%;
    height: calc(100% - 21px);
    /*    min-height: 376px;*/
    /*    max-height: 100%;*/
    overflow-y: auto;
    background-color: rgba(103, 103, 103, 0.4);
}
dl{
    height: 380px;
    /*    width: calc(100% - 4px);*/
    margin-top: 45px;
}
dt{
    width: 80%;
    height: 50px;
    margin: 5px auto;
    /*    border: 1px solid yellow;*/
}
/*应用图标*/
dt img{
    width: 45px;
    height: 45px;
    /*    border-radius: 50px;*/
}
/*菜单应用字体*/
dt span{
    display: inline-block;
    padding-left: 5px;
    font: 18px "微软雅黑";
    position: relative;
    top: -18px;
    color: #fff;
    text-shadow: 1px 2px #000;

    border: 1px solid transparent;
}

/*桌面及应用*/
.desktop{
    /*这里的宽度改变影响图标大小，若修改要同时修改图标高、宽*/
    width: 80px;
    /**********获取桌面有效高度********/
    /*                             */
    /*    window.innerHeight-43;   */
    /*                             */
    /*******************************/
    height: calc(100% - 43px);
    padding-top: 10px;
    float: left;
    writing-mode: tb-lr;
    -webkit-column-count:1;
    z-index: 2;
    /*        display: none;*/
}
.app{
    width: 60px;
    height: 82px;
    margin-bottom: 30px;
    margin-left: 20px;
    display: block;
    color: #fff;
    box-sizing: content-box;
    writing-mode:lr-td;
    border:2px solid transparent;
    
}
.app:hover{
    border:2px solid rgba(177, 177, 177, 0.5);
    background-color: rgba(177, 177, 177, 0.3);
}
.on{
    border:2px solid rgba(177, 177, 177, 0.7);
    background-color: rgba(177, 177,177, 0.5);
}
.app span{
    width: 60px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    text-shadow: 1px 2px #000;
    border: 1px solid transparent;
}

.app img{
    width: 60px;
    height: 60px;
    text-align: center;
}

/*应用程序窗口*/
.appWindow{
    width: 100%;
    height: calc(100% - 45px);
    display: none;
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
    
/*    border: 1px solid red;*/
}
iframe{
    width: 100%;
    height: calc(100% - 25px);
    
/*    border: 1px solid black;*/
}
/*应用窗口名称/关闭/缩小按钮*/
.appWinTl{
    width: 100%;
    height: 22px;
    background-color: #dbdbdb;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.appWinTl span{
    width: 40px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    border: 1px solid #5f5f5f;
}
.appOFF:hover{
    background-color: aliceblue;
}
.appName{
    width: 80px !important;
    font-family: "微软雅黑";
    font-weight: bold;
    position: absolute;
    left: 10px;
    border: 1px solid transparent !important;
/*    float: left;*/
}
.appHint{
    width: 500px !important;
    background-color: #ff0000;
    color: #fff;
}
/*鼠标右键*/
#mouseRightBut{
    width: 180px;
    height: 255px;
    position: absolute;  
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 1px 5px 1px rgba(255, 255, 255, 0.5);
    z-index: 3;  
}
/*鼠标右键列表*/
#mouseRightBut li{
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: "微软雅黑";
    position: relative;
    left: -3px;
    top: -17px;
    border: 1px solid transparent;
}
/*测试样式--完成记得删除此行代码*/
#mouseRightBut li:hover{
    background-color: forestgreen;
}
#mouseRightBut li:nth-child(1):hover{
    background-color: forestgreen;
    border-top-right-radius: 5px;
}
#mouseRightBut li:last-child:hover{
    background-color: forestgreen;
    border-bottom-right-radius: 5px;
}
/*添加分割横线*/
#mouseRightBut li:nth-child(1){
    border-bottom: 1px solid #b2b2b2;
}
#mouseRightBut li:nth-child(2){
    left: -31px;
}
#mouseRightBut li:nth-child(3){
    left: -26px;
}
#mouseRightBut li:nth-child(4){
    left: -23px;
}
#mouseRightBut li:nth-child(5){
    border-top: 1px solid #b2b2b2;
}
#mouseRightBut li:nth-child(6){
    border-bottom: 1px solid #b2b2b2;
}
#mouseRightBut li:nth-child(8){
    color: red;
}
/*设置文件夹图标*/
.icoBig:before {
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(../img/File.png);
    background-position: center;
    background-size: cover;
    position: relative;
    left: -5px;
    top: 3px;
}
.icoMiddle:before {
    display: inline-block;
    content: "";
    width: 23px;
    height: 23px;
    background-image: url(../img/File.png);
    background-position: center;
    background-size: cover;
    position: relative;
    left: -7px;
    top: 3px;
}
.icoSmall:before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/File.png);
    background-position: center;
    background-size: cover;
    position: relative;
    left: -8px;
}

/*系统时间*/
.systemTime{
    width: 100px;
    position: relative;
    color: #fff;
    float: right;
    text-align: center;
    border-left: 2px solid rgba(183, 183, 183, 0.5);
}

.systemTime span:nth-child(1){
    display: block;
    width: inherit;
}























































