@charset "utf-8";

/*初始化*/
html,body,main,section,div,footer,p,dl,dt,iframe{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
    min-width: 1080px;
/*    min-height: 860px;*/
    background-color: rgba(51, 168, 255, 0.8);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
i,a,li{
    font-style: normal;
    list-style: none;
}
main{
/*    margin-top: 45px;*/
    background-image: url(../img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
/*    top: 0;*/
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 5px 0px rgba(255, 255, 255, 0.5);
    z-index: 10;
}


















































































