@charset "utf-8";

.main {
	top: 70px;
    font-size: 14px;
    color: #515151;
}
.filter_wrap {
	background: #f9f9f9;
    padding: 10px 0;
}
.main_wrap {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.filter_wrap dl{
    line-height: 28px;
}
.filter_wrap dt{
	width: 70px;
    float: left;
}
.filter_wrap dd{
    float: left;
    margin-right: 40px;
    cursor: pointer;
}
.active{
    color: #ff4001;
}
.clear_fix {
	display: block;
    zoom: 1;
}
.recommend{
    padding-top: 30px;
}




































































